# D / Dub
dub.selections.json
__dummy.html
docs/.doctrees
*.o
*.obj
*.exe
*.dll
*.pdb
*.lib
*.so
*.dylib
!vendor/sqlite/win64/sqlite3.dll
!vendor/sqlite/win64/sqlite3.lib
vendor/prohelp/
bin/
lib/
.build/
.dub/
/sqlite3.dll
/sqlite3.lib
/issues-browser
/issues-browser.exe
/issues-browser-gui
/issues-browser-gui.exe

# Antora
antora-playbook-local.yml
build/
public/
node_modules/

# IDE
.idea/
*.code-workspace
.vscode/

# OS
Thumbs.db
.DS_Store

# Installer output
installer/*.exe
installer/*.msi
installer/output/
